.error {
	color: black;
	font-size: 13px;
	padding: 3px;
	background-color: rgb(247, 220, 220);
	border-color: rgb(211, 50, 50);
	border-width: 1px;
	border-style: solid;
	margin: 5px;
}


h1{
	margin:15px;
	color:rgb(70,140,215);
}
 